@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

:root{
  --background-color: #222222;
  --primary-color: #FFFFFF;
  --secondary-color: #84DCC6;
  --tertiary-color: #95A3B3;
  --quaternary-color: #424242;
  --font1: montserrat, sans-serif;
}

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

main {
  color: var(--primary-color);
  font-family: montserrat, sans-serif;
  background-color: var(--background-color);
}

/* Header styles */
header {
  padding: 0px 35px;
  background-color: var(--quaternary-color);
  display: flex;
  justify-content: space-between;
  font-family: var(--font1);
}

header h1 {
  font-weight: bold;
  font-size: 36px;
  color: var(--secondary-color);
  margin: 0;
}

header h2 {
  font-size: 36px;
  font-weight: bold;
  color: var(--primary-color);
  margin: 0;
  padding: 7px;
}

header a {
  text-decoration: none;
}

header nav {
  margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding-top: 5px;
}

.links {
  padding: 10px 15px;
  font-weight: bold;
  color: var(--secondary-color);
}

.links:hover {
  background-color: var(--background-color);
}

/* About styles */
.about {
  display: flex;
  flex-wrap: wrap;
  padding: 44px;
  max-width: 1200px;
  margin: auto;
}

.about-header {
  font-size: 48px;
  font-weight: bold;
  color:var(--secondary-color)
}

.about-text {
  color: var(--primary-color);
  font-size: 18px;
}

.profile-picture {
  max-height: 300px;
  max-width: 300px;
  border-radius: 50%;
  display: inline-block;
}

.profile {
  text-align: left;
  max-width: 720px;
  margin: 36px;
}

/* Footer styles */
footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  background-color: var(--quaternary-color);
  padding-top: 7px;
  font-family: var(--font1);
  color: var(--primary-color);
}

/* Contact styles */
.contact-icons {
  margin: 0px 20px 0px 20px;
}

.contact-form {
  text-align: left;
  max-width: 720px;
  padding: 36px;
}

.error-text {
  color: rgb(194, 21, 21);
  font-weight: bold;
}


.contact-container {
  width: 200px;
  clear: both;
  padding: 80px;
}

.contact-container input, textarea {
  width: 100%;
  clear: both
}

/* Portfolio styles */
.project-div {
  background-color: var(--quat-color);
  flex: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 30px;
  border: var(--quaternary-color) solid 5px;
}

.photo-div,
.project-text {
  flex: 45%;
}

.project-img {
  height: 300px;
  border: var(--quaternary-color) solid 3px;
  margin: 25px;
  background-size: cover;
}
.project-img:hover {
  box-shadow: 0 0 10px 10px var(--quaternary-color);
}

.project-text {
  padding: 25px 25px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  color: var(--primary-color);
}

.project-text h2 {
  font-size: 35px;
  padding-bottom: 1px;
}

.project-text h3 {
  font-size: 15px;
  padding-bottom: 15px;
}

.project-text p {
  padding-bottom: 25px;
  font-size: 15px;
  line-height: 1.25;
}
.github:hover {
  border-radius: 50%;
  box-shadow: 0 0 5px 5px var(--secondary-color);
}